<!doctype html>
<html ng-app>
<head>
    <script src="js/angular.js"></script>
    <script src="js/lodash.js"></script>
    <script src="js/first_angular_test.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<section id="nav">
    <h1><a href="/">C<em>ORTH</em>US</a></h1>

    <ul>
        <li><a href="#">aaa</a></li>
    </ul>
</section>

<div id="content" ng-controller="TextCtrl">
    <h1>{{ title }}</h1>
    <table>
        <tr ng-repeat="rung in rungs">
            <td ng-repeat="lang in langs" class="{{ lang }}">
                <p ng-repeat="sent in rung[lang]">
                    {{ sent }}
                </p>
            </td>
        </tr>
    </table>

    {{ phones }}
</div>

</body>
</html>
