@font-face {
	font-family: "Triodion";
	src: url("TriUcs.eot");
	src: local("☺"),
             url("TriUcs.woff") format("woff"),
             url("TriUcs.ttf") format("truetype"),
             url("TriUcs.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

